.site-header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    }
.header{
    padding-top: 40px;
    width: 100%;
    @include display($direction:row, $items:center, $justify:space-between);
    &__logo{
        width: 48px;
        height: 48px;
        background-color: $primary-color;
        border-radius: 50%;
    }
    &__nav{
        &--list{
            @include display($direction:row, $items:center, $justify:flex-end);
            gap: 48px;
            max-width: 830px;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(5px);
            background-color: rgba(255, 255, 255, 0.04);
            padding: 39px 123px;
            overflow: hidden;
        }
        &--link{
                @include textStyle($fs:16px, $fw:400, $lh:19px, $clr: $primary-color, $mb:0px);
                letter-spacing: 2.700000047683716px;
                font-family: 'Barlow Condensed';
                text-transform: uppercase;
                font-family: Barlow Condensed;
                position: relative;
                overflow: hidden;
                transition: all .3s ease;
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-color;
                    left: 0;
                    bottom: -2px;
                    z-index: -1;
                    transition: all .3s ease;
                }
                &:hover{
                    color: #000;
                    &::after{
                        height: 100%;
                        border: 1px solid $primary-color;
                    }
                }
        }
    }
    &__burger{
        display: none;
        &--line{
            display: block;
            width: 24px;
            height: 3px;
            background-color: $secondary-color;
            transition: all .5s ease;
        }
    }
}

@media (max-width:992px) {
    .header{
        padding-top: 0;
        &__nav{
            &--list{
                padding: 39px 46px;
            }
        }
    }
}
@media (max-width:768px) {
    .site-header{
    margin-top: 0px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.04);
    }
    .header{
        &__nav{
            width: 100%;
            &--list{
                background-color: transparent;
                backdrop-filter: none;
                padding: 39px 0;
                gap: 0;
                width: 100%;
                gap: 37px;
            }
            &--link{
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}

@media (max-width:576px) {
    .site-header{
        transition: all .5s ease;
    }
    .header{
        padding: 24px 0;
        &__nav{
            &--list{
                padding-top: 118px;
                padding-left: 32px;
                position: absolute;
                top: 0;
                right: -100%;
                width: 70%;
                height: 100vh;
                backdrop-filter: blur(50px);
                background-color: rgba(255, 255, 255, 0.04);
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 32px;
                transition: all .3s ease;
            }
        }
        &__burger{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 24px;
            gap: 6px;
            position: relative;
            z-index: 3;
        }
        & .active{
            right: 0;
            transition: all .5s ease;
        }
        & .toggle{
            position: relative;
            & span{
                transition: all .5s ease;
            }
            & span:nth-child(2){
                width: 0;
            }
            & span:nth-child(1){
                position: absolute;
                transform: rotate(45deg);
            }
            & span:nth-child(3){
                position: absolute;
                transform: rotate(135deg);
            }
        }
    }
}

.no-scroll{
    overflow: hidden;
}
.header-blur{
    backdrop-filter: none;
    background-color: transparent;
    transition: all .5s ease;
}