#hero{
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero{
    padding-top: 187px;
    width: 100%;
    min-height: 100vh;
    @include display($direction:row, $items:flex-end, $justify:space-between);
    padding-bottom:130px;
    &__info{
        max-width: 444px;
        width: 100%;
        &--subtitle{
            @include textStyle($fs:28px, $fw:400, $lh:33px, $clr: $primary-color, $mb:24px);
            font-family: 'Barlow Condensed';
            text-transform: uppercase;
        }
        &--title{
            @include textStyle($fs:150px, $fw:400, $lh:171px, $clr:$primary-color, $mb:24px);
            font-family: 'Bellefair';
            text-transform: uppercase;
        }
        &--text{
            @include textStyle($fs:18px, $fw:400, $lh:24px, $clr:$secondary-color, $mb:0px)
        }
    }
    &__explore{
        width: 274px;
        height: 274px;
        background-color: $primary-color;
        border-radius: 50%;
        @include display($direction:row, $items:center, $justify:center);
        position: relative;
        z-index: 2;
        cursor: pointer;
        &--link{
            @include textStyle($fs:32px, $fw:400, $lh:36px, $clr:rgba(11, 13, 23, 1), $mb:0px);
        }
        &::after{
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: 0.5;
            position: absolute;
            z-index: -1;
            transition: all .3s linear;

        }
        &:hover{
            &::after{
                opacity: 0.8;
                transform: scale(1.4);
                z-index: -1;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}


@media (max-width:768px) {
    .hero{
        padding-top: 202px;
        padding-bottom: 90px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &__info{
            &--subtitle{
                margin-bottom: 20px;
                font-size: 24px;
            }
            &--title{
                line-height: 150px;
            }
            &--text{
                font-size: 16px;
                line-height: 28px;
            }
        }
        &__explore{
            margin-top: 156px;
            width: 242px;
            height: 242px;
        }
    }
}

@media (max-width:576px) {
    .hero{
        padding-top: 112px;
        padding-bottom: 48px;
        &__info{
            &--subtitle{
                margin-bottom: 19px;
                font-size: 16px;
                line-height: 19px;
            }
            &--title{
                font-size: 80px;
                line-height: 100px;
            }
            &--text{
                font-size: 15px;
                line-height: 25px;
            }
        }
        &__explore{
            margin-top: 81px;
            width: 150px;
            height: 150px;
            &--link{
                font-size: 20px;
                line-height: 22px;
            }
        }
    }
}