.technology-body {
  max-width: 100vh;
  background-image: url("../../images/tech-bg.jpg");
  background-size: cover;
  background-position: center;
}

.technology {
  padding-top: 202px;
  padding-bottom: 100px;
  &__info{
    display: flex;
    align-items: center ;
  }
  &__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}

.technology__text {
  margin-bottom: 26px;
  @include textStyle($fs:28px, $fw:400, $lh:33px, $clr:$primary-color, $mb:64px);
  font-family: 'Barlow Condensed';
  text-transform: uppercase;  
}
.technology__span{
  margin-right: 28px;
}

.technology__text-wrapper {
  padding-top: 212px;
  display: block;
  // margin-left: 166.5px;
}

.technology__nambers {
  width: 200px;
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-columns: auto;
}

.technology__namber {
  width: 80px;
  height: 80px;
  padding: 22px 32px;
  border-radius: 50%;
  border: solid 1px #D0D6F9;
  background-color: transparent;
  @include  textStyle($fs:32px, $fw: 400, $lh:33.67px, $clr:$primary-color, $mb:32px);
  transition: all .3s ease;
  cursor: pointer;
  &:hover{
    border-radius: 50%;
    border: solid 1px white;
    background-color: white;
    @include  textStyle($fs:32px, $fw: 400, $lh:36.67px, $clr:#0B0D17, $mb:32px);
  }
}

.technology__text-top-wrapper {
  display: flex;
  gap: 24px;
}

.technology__span {
  @include  textStyle($fs:28px, $fw: 700, $lh:33.6px, $clr:#4E5057, $mb:0px);
  font-family: 'Barlow Condensed';
}

.technology__top-text {
  @include  textStyle($fs:28px, $fw:400, $lh:33.6px, $clr:white, $mb:0px);
  font-family: 'Barlow Condensed';
  
}

.technology__text-bottom-wrapper {
  width: 470px;
}

.technology__text-top {
  @include  textStyle($fs:16px, $fw:400, $lh:19px, $clr:#D0D6F9, $mb:11px);
  font-family: 'Barlow Condensed';
  letter-spacing: 4.72px;
}

.technology__title {
  width: 470px;
  font-family: 'Bellefair';
  @include  textStyle($fs:56px, $fw:400, $lh:64.18px, $clr:white, $mb:17px);
}

.technology__text-bottom {
  max-width: 444px;
  @include  textStyle($fs:18px, $fw:400, $lh:32px, $clr:white, $mb:17px);
}

.technology__img-wrapper {
  max-width: 100%;
  height: 527px;
  margin-right: 0px;
}


@media  (max-width:768px) {

  .technology {
  }

  .technology__text {
    margin-bottom: 26px;
    @include textStyle($fs:20px, $fw:400, $lh:24 px, $clr:$primary-color, $mb:64px);
  }
  .technology__span{
    margin-right: 16px;
  }

  .technology__main {
    flex: column;
    flex-direction: column-reverse;
  }

  .technology__namber {
    width: 58px;
    height: 58px;
    padding: 14px 24px 18px 20px;
    padding-bottom: 17px;
  }

  .technology__img-wrapper {
    width: 100%;
    height: 310px;
    margin-inline: auto;
    align-items: center;
  }

  .tech-img2 {
    max-width: 100%;
    height: 310px;
    margin-right: auto;
    // align-items: center;
    object-fit: cover;
  }

  .technology__info {
    flex-direction: column;
  }

  .technology__nambers {
    max-width: 210px;
    gap: 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    // display: grid;
    // grid-template-columns: auto;
  }

  .technology__text-top {
    // width: 155px;
    text-align: center;
    margin-left: 30px;
    letter-spacing: 2.7px;
  }

  .technology__title {
    max-width: 360px;
    text-align: center;
    margin: auto;
    @include  textStyle($fs:40px, $fw:400, $lh:45.84px, $clr:white, $mb:16px);
  }

  .technology__text-bottom {
    max-width: 100%;
    text-align: center;
    @include  textStyle($fs:16px, $fw:400, $lh:28px, $clr:white, $mb:17px);
  }
}